@import './config';

table {
  border-collapse: collapse;
  max-width: $max-width;
  table-layout: fixed;
  width: 100%;
}

tbody {
  vertical-align: middle;
}

th,
td {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
  word-wrap: break-word;
}
