@import './config.scss';

table {
	max-width: $max-width;
	width: 100%;

	table-layout: fixed;
	border-collapse: collapse;
}

tbody {
	vertical-align: middle;
}

th, td {
	border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
	word-wrap: break-word;
}
